.navbar {
  color:white;
  background-color:black;
  font-family:"Arial", Times, serif;
  font-size:28em;
  font-weight:bold;
  position:top;
  top:0em;
  width:relative;
  height:relative;
}
.navbar_button {
  color:white;
  background-color:black;
  font-family:"Arial", Times, serif;
  font-size:1em;
  font-weight:bold;
  position:relative;
  top:0em;
  width:120em;
  height:26em;
  border:1em solid black;
  padding:4em;
}
.navbar_button_selected {
  color:black;
  background-color:white;
  font-family:"Arial", Times, serif;
  font-size:1em;
  font-weight:bold;
  position:relative;
  top:0em;
  width:12em;
  height:26em;
  border:1em solid white;
  border-left:4em solid purple;
  padding:4em;
}
