/* paragraphs */

body {
    margin: 0;
    animation: forwards paragraphFadeIn 2s;
}

/* box classes */

.boxTitleImage {
    background-color: transparent;
    background-image: url(../untitled-smp.title.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    width: 240px;
    height: 70px;
    margin: 0;
    border: none;
    padding: none;
}

.boxBackgroundImage {
    background-color: rgb(69, 69, 69);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: sticky;
    animation: infinite boxBackgroundImageCycle 50s;
}

.boxTabBar {
    background-color: transparent;
    position: sticky;
    z-index: 1000;
    top: 0px;
    width: auto;
    height: fit-content;
    margin: 8px;
    border: none;
    border-bottom: 4px solid white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0px;
    animation: forwards boxTabBackgroundColorReverse 0.5s;
}

.boxTabBar:hover {
    background-color: black;
    position: sticky;
    top: 0px;
    width: auto;
    height: fit-content;
    margin: 8px;
    margin-bottom: 12px;
    border: none;
    border-bottom: 0px solid white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0px;
    animation: forwards boxTabBackgroundColor 0.25s;
}

.boxNormalWhite {
    background-color: white;
    position: relative;
    top: 0px;
    width: auto;
    height: fit-content;
    margin: 0;
    border: none;
    border-radius: 16px;
    padding: 4px;
}

.boxNormalRed {
    background-color: darkred;
    position: relative;
    top: 0px;
    width: auto;
    height: fit-content;
    margin: 0;
    border: none;
    border-radius: 16px;
    padding: 4px;
}

.boxNormalBlack {
    background-color: black;
    position: relative;
    top: 0px;
    width: auto;
    height: fit-content;
    margin: 0;
    border: none;
    border-radius: 16px;
    padding: 4px;
}

/* button classes */

.buttonTab {
    color: white;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: 0px;
    width: 240px;
    height: fit-content;
    margin: 0;
    border: none;
    border-bottom: 0px solid black;
    padding: 4px;
    padding-bottom: 12px;
    animation: forwards buttonTabBackgroundColorReverse 0.5s;
}

.buttonTab:hover {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: 0px;
    width: 240px;
    height: fit-content;
    margin: 0;
    border: none;
    border-bottom: 4px solid red;
    padding: 4px;
    padding-bottom: 8px;
    cursor: pointer;
    animation: forwards buttonTabBackgroundColor 0.5s;
}

.buttonTab:active {
    color: black;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: 0px;
    width: 240px;
    height: fit-content;
    margin: 0;
    border: none;
    border-bottom: 4px solid white;
    padding: 4px;
    padding-bottom: 8px;
    cursor: pointer;
    animation: forwards buttonTabBackgroundColorActivate 0.1s;
}

/* text classes */

.textNormalTitleWhite {
    color: white;
    background-color: transparent;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 96px;
    font-weight: bold;
    position: relative;
    top: 0px;
    width: auto;
    height: fit-content;
    margin: 8px;
    border: none;
    padding: none;
}

.textNormalTitleBlack {
    color: black;
    background-color: transparent;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 96px;
    font-weight: bold;
    position: relative;
    top: 0px;
    width: auto;
    height: fit-content;
    margin: 8px;
    border: none;
    padding: none;
}

.textNormalWhite {
    color: white;
    background-color: transparent;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    position: relative;
    top: 0px;
    width: auto;
    height: fit-content;
    margin: 8px;
    border: none;
    padding: none;
}

.textNormalBlack {
    color: black;
    background-color: transparent;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    position: relative;
    top: 0px;
    width: auto;
    height: fit-content;
    margin: 8px;
    border: none;
    padding: none;
}

/* animations */

@keyframes paragraphFadeIn {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes boxTabBackgroundColor {
    0% {
        background-color: transparent;
        margin-bottom: 8px;
        border-bottom: 4px solid white;
    }
    100% {
        background-color: black;
        margin-bottom: 12px;
        border-bottom: 0px solid white;
    }
}

@keyframes buttonTabBackgroundColor {
    0% {
        background-color: transparent;
        border-bottom: 0px solid black;
        padding-bottom: 12px;
    }
    50% {
        background-color: white;
        border-bottom: 0px solid red;
        padding-bottom: 12px;
    }
    100% {
        background-color: white;
        border-bottom: 4px solid red;
        padding-bottom: 8px;
    }
}

@keyframes buttonTabBackgroundColorActivate {
    0% {
        background-color: white;
        border-bottom: 4px solid red;
        padding-bottom: 8px;
    }
    100% {
        background-color: red;
        border-bottom: 0px solid white;
        padding-bottom: 8px;
    }
}

@keyframes boxBackgroundImageCycle {
    0% {
        background-image: url(../season-1.background-1.png)
    }
    20% {
        background-image: url(../season-1.background-1.png)
    }
    25% {
        background-image: url(../season-1.background-2.png)
    }
    45% {
        background-image: url(../season-1.background-2.png)
    }
    50% {
        background-image: url(../season-2.background-1.png)
    }
    70% {
        background-image: url(../season-2.background-1.png)
    }
    75% {
        background-image: url(../season-2.background-2.png)
    }
    95% {
        background-image: url(../season-2.background-2.png)
    }
    100% {
        background-image: url(../season-1.background-1.png)
    }
}

/* animations (reverse) */

@keyframes boxTabBackgroundColorReverse {
    0% {
        background-color: black;
        margin-bottom: 12px;
        border-bottom: 0px solid white;
    }
    50% {
        background-color: black;
        margin-bottom: 8px;
        border-bottom: 4px solid white;
    }
    100% {
        background-color: transparent;
        margin-bottom: 8px;
        border-bottom: 4px solid white;
    }
}

@keyframes buttonTabBackgroundColorReverse {
    0% {
        background-color: white;
        border-bottom: 4px solid red;
        padding-bottom: 8px;
    }
    100% {
        background-color: transparent;
        border-bottom: 0px solid black;
        padding-bottom: 12px;
    }
}
