.navbar {
  color:white;
  background-color:black;
  font-family:"Arial", Times, serif;
  font-size:28px;
  font-weight:bold;
  position:top;
  top:0px;
  width:relative;
  height:relative;
}
.navbar_button {
  color:white;
  background-color:black;
  font-family:"Arial", Times, serif;
  font-size:18px;
  font-weight:bold;
  position:relative;
  top:0px;
  width:120px
  height:26px;
  padding:4px;
}
.navbar_button_selected {
  color:black;
  background-color:white;
  font-family:"Arial", Times, serif;
  font-size:18px;
  font-weight:bold;
  position:relative;
  top:0px;
  width:120px
  height:26px;
  border-left:4px solid darkpurple;
  padding:4px;
}
